html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: block;
}

.onboarding-container {
    width: 400px;
    height: 220px;
}

.button-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.indicator {
    color: red;
}
