html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.bar {
    width: 100vw;
    height: 60px;
    background-color: #013444;
}

.content-box {
    color: #013444;
    font-family: 'Montserrat', sans-serif;
}

.acronym {
    font-size: 240px;
    display: block;
    font-weight: 700;
    line-height: 200px;
}

.fullname {
    font-size: 32px;
    font-weight: 200
}



/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: 
      "header header header header"
      ". main main ."
      /* ". button button ." */
      /* "footer footer footer footer";
  } */

/* .upper-bar { */
    /* width: 100vw; */ 
    /* height: 30px;
    background-color: #013444;
    display: block;
    grid-area: header;
}

.lower-bar {
    /* width: 100vw; */
    /* height: 80px; */
    /* background-color: #013444; */
    /* display: inline-block;
    align-self: baseline;
    vertical-align: bottom;
    position: absolute;
    bottom: 0; */
    /* grid-area: footer; */
    /* align-self:  center; */
/* } */

/* .content-box {
    grid-area: main; */
    /* text-align: center; */
    /* color: #013444;
    justify-self: center;
    font-family: 'Montserrat', sans-serif;
}

.acronym {
    font-size: 240px;
    display: block;
    font-weight: 700;
    line-height: 200px;
} */
/* 
.fullname {
    font-size: 32px;
    font-weight: 200
}

.button {
    display: block;
    grid-area: main;
    justify-self: center; */
    /* text-align: center; */
    /* align-self: end;
}


.sign-in { */
    /* height: 50px;
    width: 150px; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px;
    border-radius: 40px;
    background-color: #1DA1CB;
    color: white;
    vertical-align: middle;
    line-height: 50px;
    transition: background-color 0.3s;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
} */
/* 
#btn-pt-1 {
    display: inline-block;
    margin-right: 20px;
    padding-left: 30px;
    transition: padding-right 0.3s;
}

#btn-pt-2 {
    display: inline-block;
}

.sign-in:hover #btn-pt-1{
    padding-right: 14px;
} */


