html, body, {
    height: 100%;
    margin: 0;
    padding: 0;
}

.change-password-page-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header {
    display: block;
}

.change-password-container {
    width: 400px;
    /* height: 200px; */
}

.cp-button-container {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.indicator {
    color: red;
}
