.period-bar-lm {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

/* .period-bar__dropdown {
    
} */

.period-bar__status {
    margin-left: 20px;
}

.wizard-control {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.wizard-control__buttons {
    margin-left: 20px;
}

.objective {
    margin: 0 30px 30px;
}

.save-button {
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
}

.general-comments {
    margin: 40px;
    /* display: flex;
    justify-content: center; */
    /* align-items: ; */
    /* flex: 1; */
    /* width: 100% */
}

/* .general-comments > div.ui.segment {
    margin: 0 30px;
} */