
/* .toc {
    width: 40vw;
} */

.cot {
    max-width: calc(100% - 15rem);
    min-width: calc(100% - 15rem);
    float: right;
}

.article {
    margin-left: 210px;
}

.ui.bg-brand-color {
    /* background-color: #042E3C; */
    background-color: #013042;
}

.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
    /* padding: 0; */
}

.ui.vertical.menu {
    display: block;
    z-index: none;
}

.ui.vertical.menu .item > .ui.item.dropdown .text {
    overflow: hidden;
    white-space: pre-wrap;
    width: 5.3em;
}

/* #menupms .ui.vertical.menu.dropdown.item > .icon {
    float: right !important;
    
} */


@media print
{
    .noprint {display:none;}
    .article {
        margin-left: 0px;
    }
}