.dropzone-container {
    text-align: center;
    border: 1px dashed grey;
    border-radius: 5px;
    padding: 20px;
}

.custom-list-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.custom-input {
    margin-bottom: 10px !important;
}