.page-content {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.four-oh-four {
    font-size: 240px;
}

.subheader {
    font-size: 24px
}


