/* Tachyons */
@import '~tachyons/css/tachyons.css';
@font-face {
  font-family: 'gilroylight';
  src: url('./assets/fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroymedium';
  src: url('./assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroybold';
  src: url('./assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroyextrabold';
  src: url('./assets/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'gilroylight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.43;
  font-size: 100%;
  letter-spacing: 0.25px;
  color: #777d80;
}

h1,
h2,
h3,
h4,
h5 {
  color: #777d80;
  font-family: 'gilroymedium', sans-serif;
  font-weight: 500;
}

.top--3 {
  top: -3rem;
}

.bg-none {
  background: none;
}

.fill-white {
  fill: #fff;
}

.bg-primary-color {
  background-color: #334152;
}

.app-text-color {
  color: #58687e;
}

.app-text-fill {
  fill: #58687e;
}

.blur {
  -webkit-filter: blur(3.5px); /* Safari 6.0 - 9.0 */
  filter: blur(3.5px);
}

.ml6-5 {
  margin-left: 12.5rem;
}

.ml3-5 {
  margin-left: 3rem;
}

.top-inherit {
  top: inherit;
}

.pt-nav {
  padding-top: 5rem;
}

.min-width-auto {
  min-width: auto;
}

.min-h5 {
  min-height: 16rem;
}

.pb0-imp {
  padding-bottom: 0 !important;
}

.pa0-imp {
  padding: 0 !important;
}

.h2-5 {
  height: 2.5rem;
}

.lh-2-5 {
  line-height: 2.5rem;
}

.bg-washed-light-blue {
  background-color: #e9eff5;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.gradient-overlay {
  position: absolute;
  background: linear-gradient(
    -135deg,
    rgb(25, 143, 53) 0,
    rgb(0, 111, 191) 100%
  );
  opacity: 0.6;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.ui.left.sidebar {
  transition: all 0.25s ease-in;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3) !important;
}

.ui.right.sidebar {
  width: 450px !important;
  transition: all 0.25s linear;
  margin-top: 4em !important;
  padding-bottom: 4em !important;
  overflow-y: visible !important;
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.3) !important;
}

.bg-overlay:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 4em;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ui.visible.left.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .pusher {
  transform: none !important;
  margin: 0 0 0 220px !important;
}

.pusher .pushable:not(body) {
  transform: none !important;
}

.ui.sidebar.menu .item {
  padding: 15px 17px 15px 20px;
  float: left;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  opacity: 0.8;
}

.hide-menu {
  display: none;
  min-width: 180px;
  transition: all 0.25s ease-out;
}

.ui.visible.left.sidebar .hide-menu {
  display: block;
  transition: all 0.25s ease-in;
}

.ui.left.sidebar img.ui.image:nth-child(1) {
  display: none !important;
  transition: all 0.25s ease-out;
}

.ui.visible.left.sidebar img.ui.image:nth-child(1) {
  display: block !important;
  transition: all 0.25s ease-out;
}

.ui.visible.left.sidebar img.ui.image:nth-child(2) {
  display: none !important;
  transition: all 0.25s ease-out;
}

.ui.left.push.sidebar {
  transform: none !important;
  width: 60px !important;
  visibility: unset !important;
  position: fixed !important;
}

.ui.visible.push.sidebar {
  transform: none !important;
  width: 220px !important;
}

.pushable > .pusher {
  transition: all 0.25s ease-in;
  margin: 0 0 0 60px !important;
}

.ui.vertical.menu .item:before {
  background: none;
}

.ui.header,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  color: rgba(0, 0, 0, 0.56) !important;
}

i.icon,
i.icons {
  outline: 0px !important;
}

.ui.menu .item > i.icon {
  opacity: 0.6 !important;
}

.ui.dropdown {
  align-self: center !important;
  padding: 0.78571429em 0.92857143em !important;
}

.ui.dropdown:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.ui.dropdown .menu > .header {
  color: rgba(0, 0, 0, 0.33) !important;
}

.ui.dropdown .menu {
  z-index: 999 !important;
}

.ui.dropdown i {
  float: left;
}

.ui.dropdown .text {
  margin-left: 0.25rem;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.ui.card,
.ui.cards > .card {
  border-radius: 4px !important;
}

.dwl img {
  margin-bottom: 1rem;
}

.dwl h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.dwl span {
  font-size: 1.5rem;
}

.fc-container {
  min-height: 360px;
}

.fc-container h3 {
  color: inherit;
}

.fc-description {
  line-height: 1.5rem;
}

.card-layout {
  border: solid 1px #f5f5f5 !important;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;
  transition: all 0.25s ease-in;
}

.card-layout:hover {
  box-shadow: 0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07) !important;
  transition: all 0.25s ease-in;
}

.pusher .ui.input input,
.pusher .ui.selection.dropdown {
  box-shadow: 0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07) !important;
}

.ui.table td {
  color: #8c8c8c;
}

.ui.table th {
  color: #737373 !important;
}
