.ac-tab.active{
 border-bottom: solid 3px #747474;
    color: #272727;
}
.ac-tab{
 border-bottom: solid 3px #b3b3b3;
    margin-left: 0 !important;
    padding-right: 12px !important;
    color: #b3b3b3;
}


.linkText{
    color: darkgray;
}

.linkTextClicked {
    color: white;
}

    .linkTextClicked:hover {
        color: white;
    }